<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.test.cbd.mapper.UserMapper">

    <resultMap id="userDO_Map" type="com.test.cbd.domain.UserDO">
        <result property="id" column="id"/>
        <result property="account" column="account"/>
        <result property="name" column="name"/>
        <result property="password" column="password"/>
        <result property="departmentId" column="department_id"/>
        <result property="departmentName" column="department_name"/>
        <result property="salt" column="salt"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <resultMap id="userVO_Map" type="com.test.cbd.vo.UserVO" extends="userDO_Map" >

    </resultMap>

    <delete id="deleteById">
        DELETE FROM user WHERE id = #{id}
    </delete>

    <delete id="deleteByIds">
        DELETE FROM user WHERE
        id IN
        <foreach collection="ids" item="id" open="(" close=")" separator="," >#{id}</foreach>
    </delete>

    <select id="findById" resultMap="userVO_Map">
        SELECT * FROM user WHERE id = #{id}
    </select>

    <select id="findByVO" resultType="com.test.cbd.vo.UserVO">
        SELECT * FROM user WHERE id = #{id}
    </select>



    <select id="findDoById" resultMap="userDO_Map">
        SELECT * FROM user WHERE id = #{id}
    </select>

    <select id="findByIds" resultMap="userVO_Map">
        SELECT * FROM user WHERE
        id IN
        <foreach collection="ids" item="id" open="(" close=")" separator="," >#{id}</foreach>
    </select>

    <sql id="conditionBase">
        <if test="paramBean != null">
            <if test="@Ognl@isNotEmpty(paramBean.id)"> AND t.id = #{paramBean.id} </if>
            <if test="@Ognl@isNotEmpty(paramBean.account)"> AND t.account = #{paramBean.account} </if>
            <if test="@Ognl@isNotEmpty(paramBean.name)"> AND t.name = #{paramBean.name} </if>
            <if test="@Ognl@isNotEmpty(paramBean.password)"> AND t.password = #{paramBean.password} </if>
            <if test="@Ognl@isNotEmpty(paramBean.departmentId)"> AND t.department_id = #{paramBean.departmentId} </if>
            <if test="@Ognl@isNotEmpty(paramBean.departmentName)"> AND t.department_name = #{paramBean.departmentName} </if>
            <if test="@Ognl@isNotEmpty(paramBean.salt)"> AND t.salt = #{paramBean.salt} </if>
            <if test="@Ognl@isNotEmpty(paramBean.createTime)"> AND t.create_time = #{paramBean.createTime} </if>
            <if test="@Ognl@isNotEmpty(paramBean.updateTime)"> AND t.update_time = #{paramBean.updateTime} </if>
        </if>
    </sql>

    <select id="findBy" resultMap="userVO_Map">
        SELECT * FROM user t
        <where>
            <include refid="conditionBase"/>
        </where>
    </select>

    <!--select id="findMoreExample" resultMap="userVO_Map">
        SELECT * FROM user t, t_example e where t.id=e.t_id
        <include refid="conditionBase"/>
        <if test="paramBean != null and @Ognl@isNotEmpty(paramBean.extProtity)"> AND t.ext_column = #{paramBean.extProtity} </if>
    </select-->
</mapper>